# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor & IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# PHP & Local Config
config/config.local.php
*.log
error_log

# Database binaries (Created automatically on run)
*.sqlite
*.sqlite3
*.db

# Uploads
public/uploads/*
!public/uploads/.gitkeep
