<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Alumni/

    # Eğer istek var olan gerçek bir dosya veya dizin değilse
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Tüm istekleri index.php'ye yönlendir
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
